<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="RuntimeConfiguration" status="ERROR">
    <Appenders>
        <Console name="ConsoleTrace" target="SYSTEM_OUT">
            <PatternLayout pattern="%replace{[%d{HH:mm:ss}] [%t] [%marker] [%C:%line/%level{TRACE=Trace, DEBUG=Debug, INFO=Info, WARN=Warn, ERROR=Error, FATAL=Fatal}] %msg%n%throwable}{] \[]}{]}"/>
            <LevelMatchFilter level="TRACE" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <Console name="ConsoleDebug" target="SYSTEM_OUT">
            <PatternLayout pattern="%replace{[%d{HH:mm:ss}] [%t] [%marker] [%C{1}:%line/%level{TRACE=Trace, DEBUG=Debug, INFO=Info, WARN=Warn, ERROR=Error, FATAL=Fatal}] %msg%n%throwable}{] \[]}{]}"/>
            <LevelMatchFilter level="DEBUG" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <Console name="ConsoleInfo" target="SYSTEM_OUT">
            <PatternLayout pattern="%replace{[%d{HH:mm:ss}] [%t] [%marker] [%C{1}/%level{TRACE=Trace, DEBUG=Debug, INFO=Info, WARN=Warn, ERROR=Error, FATAL=Fatal}] %msg%n%throwable}{] \[]}{]}"/>
            <LevelMatchFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <Console name="ConsoleWarn" target="SYSTEM_OUT">
            <PatternLayout pattern="%replace{[%d{HH:mm:ss}] [%t] [%marker] [%C{1}/%level{TRACE=Trace, DEBUG=Debug, INFO=Info, WARN=Warn, ERROR=Error, FATAL=Fatal}] %msg%n%throwable}{] \[]}{]}"/>
            <LevelMatchFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <Console name="ConsoleError" target="SYSTEM_OUT">
            <PatternLayout pattern="%replace{[%d{HH:mm:ss}] [%t] [%marker] [%C{1}/%level{TRACE=Trace, DEBUG=Debug, INFO=Info, WARN=Warn, ERROR=Error, FATAL=Fatal}] %msg%n%throwable}{] \[]}{]}"/>
            <LevelMatchFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
        <Console name="ConsoleFatal" target="SYSTEM_OUT">
            <PatternLayout pattern="%replace{[%d{HH:mm:ss}] [%t] [%marker] [%C{1}/%level{TRACE=Trace, DEBUG=Debug, INFO=Info, WARN=Warn, ERROR=Error, FATAL=Fatal}] %msg%n%throwable}{] \[]}{]}"/>
            <LevelMatchFilter level="FATAL" onMatch="ACCEPT" onMismatch="DENY"/>
        </Console>
    </Appenders>
    <Loggers>
        <!-- Application logger always logs; set ARTIFACTORY_LOG_ALL (e.g. to "ALL" or "INFO") to also enable every third-party logger via the Root logger below. -->
        <Logger name="net.luis.artifactory" level="ALL" additivity="false">
            <!--<AppenderRef ref="ConsoleTrace"/>-->
            <!--<AppenderRef ref="ConsoleDebug"/>-->
            <AppenderRef ref="ConsoleInfo"/>
            <AppenderRef ref="ConsoleWarn"/>
            <AppenderRef ref="ConsoleError"/>
            <AppenderRef ref="ConsoleFatal"/>
        </Logger>
        <Root level="${env:ARTIFACTORY_LOG_ALL:-OFF}">
            <!--<AppenderRef ref="ConsoleTrace"/>-->
            <!--<AppenderRef ref="ConsoleDebug"/>-->
            <!--<AppenderRef ref="ConsoleInfo"/>-->
            <AppenderRef ref="ConsoleWarn"/>
            <AppenderRef ref="ConsoleError"/>
            <AppenderRef ref="ConsoleFatal"/>
        </Root>
    </Loggers>
</Configuration>
